html {
    display: flex;
    justify-content: center;
    user-select: none;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: min(100%, 70vh);
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    font-family: 'Monomaniac One', sans-serif;
    font-size: xx-large;
    color: white;
    background-color: firebrick;
    position: absolute;
    top: 0;
    margin-bottom: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
}


footer {
    position: absolute;
    bottom: 0;
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dummy {
    color: rgba(0, 0, 0, 0);
}

#masterlink {
    color: black;
    text-decoration: none;
}

.font-aoboshi {
    font-family: 'Aoboshi One', serif;
}

.font-cherryBomb {
    font-family: 'Cherry Bomb One', cursive;
}

.font-chokokutai {
    font-family: 'Chokokutai', cursive;
}

.font-delaGothic {
    font-family: 'Dela Gothic One', cursive;
}

#version {
    color: gray;
}
