html {
    display: flex;
    justify-content: center;
    user-select: none;
    font-family: 'RocknRoll One', sans-serif;
}

body {
    width: min(100%, 70vh);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

header {
    font-size: xx-large;
    color: white;
    background-color: firebrick;
    margin-bottom: 1vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dummy {
    color: rgba(0, 0, 0, 0);
}

#masterlink {
    color: black;
    text-decoration: none;
}

.font-aoboshi {
    font-family: 'Aoboshi One', serif;
}

.font-cherryBomb {
    font-family: 'Cherry Bomb One', cursive;
}

.font-chokokutai {
    font-family: 'Chokokutai', cursive;
}

.font-delaGothic {
    font-family: 'Dela Gothic One', cursive;
}

#version {
    color: gray;
}

.rakutenbanner {
    text-align: center;
    margin-bottom: 2vh;
}

.hidden {
    display: none;
}

.disabled {
    color: gray;
}

#searchArea {
    background-color: mistyrose;
    border: medium solid darkred;
    margin-bottom: 2vh;
}

.areaTitle {
    font-size: large;
    margin-bottom: 1vh;
}

.areaRow {
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 0.5vh;
    display: flex;
    align-items: center;
}

#configArea {
    background-color: lightcyan;
    border: medium solid darkblue;
    margin-bottom: 2vh;
}

#Calculator {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#resultArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    width: 100%;
    border-radius: 1vh;
    border: thick solid black;
    padding: 1vh;
    margin-bottom: 2vh;
}

.resultRank {
    font-size: large;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.resultStatus {
    margin-bottom: 1vh;
}

.resultAttacks {
    display: flex;
    justify-content: space-between;
}

.resultAttacksList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attack {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.resultAttacksDps {
    display: flex;
    flex-direction: column;
    align-items: center;
}